{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro- Bentell </title>
    <link rel="icon" href="{% static 'comuns/img_logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/aparelhos.css'%}">
    <link rel="stylesheet" href="{% static 'home/cadastro.css'%}">
 
    
</head>

<body>

 
  <div class='img_fundo'><img id="img_logo"  src="{% static 'comuns/fundo.png'%}" alt="">
  </div>  

<form class='form_cadastro'  method="POST" action="">
  <h1>Cadastro</h1>
    {% csrf_token %} 
    <input placeholder="Usuario" name="usuario" type="text">
<input placeholder="Senha" type="password" name="senha" id="">
    <input type="submit" value="Cadastrar">
  </form>
</body>
</html>