{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celulares - Bentell </title>
    <link rel="icon" href="{% static 'comuns/img_logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/aparelhos.css'%}">
 
    
</head>

<body>
  
  <div class="btn_home"> <a href="{% url 'home:index'%}"><img  src="{% static 'home/img_logo.jpg'%}" alt=""></a></div>
  <div class='img_fundo'><img id="img_logo"  src="{% static 'comuns/fundo.png'%}" alt="">
  </div>  


<h1>Celulares </h1>
  <button id="adicionar_item" onclick="toogle();" >Adicionar celular</button>

  <form class="adicionar_item" id="form_adicionar_item" action="{%url 'home:adicionar_celular' %}" method="POST">
    {% csrf_token %}

    <input name="modelo" type="text" placeholder="Modelo do aparelho">
    <input name="numero" placeholder="Número" type="text">
    <label for="colaborador">Colaborador responsavel</label>
    <select id="colaborador" name="responsavel">
      {%for c in colaboradores %}
      <option value="{{c.id}}">{{c.nome}}</option>

      {%endfor%}
      </select>

    <input type="submit" value="Cadastrar">

  </form>

  
  <div class="itens_lista">
  {% for celular in celulares%}
    <div class="item">
      <h2>Modelo: {{celular.modelo}}</h2>
      <h2>Numero: {{celular.numero}}</h2>
      <h2>Responsavel: {{celular.responsavel.nome}}</h2>

      <a class="excluir_item" onclick="toogle_span('{{celular.id}}');" >X</a>
      
    </div> 
    <span id='confirmar_exclusao_{{celular.id }}' class="confirmar_exclusao"> 
      Tem certeza que deseja prosseguir com a exclusão do celular {{celular.modelo}}?
      <div>
          <a href="{% url 'home:excluir_celular' celular.id %}"> 
              <button>Sim</button>
          </a>
          <button onclick="toogle_span('{{celular.id}}');">Não</button>
      </div>
  </span>
  {%endfor%}
  </div> 


<script src="{% static 'comuns/jquery.js'%}"></script>
<script src="{% static 'home/script.js'%}"></script>
</body>
</html>