{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'comuns/img_logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/perfil.css'%}">
 
    <title>{{colaborador.nome}}</title>
</head>
<body>

    <div class="btn_home"> <a href="{% url 'home:pagina_inicial'%}"><img src="{% static 'home/img_logo.jpg'%}" alt=""></a></div>
    <div class='img_fundo'><img id="img_logo"  src="{% static 'comuns/fundo.png'%}" alt=""></div>


    <h1>{{colaborador.nome}}</h1>
    {% if colaborador.nome != 'Estoque' %}
    <h3>{{colaborador.email}}</h3>
    {%endif%}



    <div class="celular">

        {% if colaborador.nome != 'Estoque' %}
        <h1>Celular</h1>
        {%else%}
        <h1>Celulares</h1>
        {%endif%}
        {% for celular in colaborador.celulares.all %}
        <h4>Modelo: {{celular.modelo}}</h4>
        <h4>Número corporativo: {{celular.numero}}</h4>
        {% empty %}
        <h5>Nenhum celular vinculado ao usuário.</h5>
        {%endfor%}

    </div>

    <div class="computador"> 
        {% if colaborador.nome != 'Estoque' %}
        <h1>Computador</h1>
        {%else%}
        <h1>Computadores</h1>

        {%endif%}
        {% for computador in colaborador.computadores.all %}

        <h4>Modelo: {{computador.modelo}}</h4>

        {% empty %}
          <h5>Nenhum computador vinculado ao usuário.</h5>
        {%endfor%}
    </div>



</body>
</html>